@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

.hero {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-size: 25px;
  position: relative;
}

.hero p {
  z-index: 2;
  padding: 0 2vw;
  font-size: 40px;
}

.dark-overlay {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .hero p {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .hero p {
    font-size: 20px;
  }
}
