.mapWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 70px 2vw 105px 2vw;
  background-color: #f0f0f0;
  overflow-y: auto;
}
#map {
  height: 360px;
  z-index: 2;
}

.mapTitles {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  border-bottom: solid 1px #808080;
  width: 48%;
  padding-bottom: 10px;
}

.mapWrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.mapWrapper ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.mapcircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* opacity: 0.1; */
}

.fees::after {
  content: "FCFA";
  margin-left: 5px;
}

.fees::before {
  content: "Frais - ";
}

.mapcircle.first {
  border: solid 3px green;
  /* background-color: green; */
}

.mapcircle.second {
  border: solid 3px red;
  /* background-color: red; */
}

.mapcircle.third {
  border: solid 3px orange;
  /* background-color: yellow; */
}

/* .mapcircle.fourth {
  border: solid 1px green;
  background-color: green;
  opacity: 0.5;
} */
