.menuBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  scroll-behavior: smooth;
  width: 60%;
  height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  color: black;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid 1px black; */
  font-size: 25px;
  padding: 0 0 0 2vw;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 60%;
  transition: all 250ms ease-in-out;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 99;
}

.scrolled {
  background-color: white;
  opacity: 1;
}

.menuHeader:first-child {
  text-transform: uppercase;
  font-weight: bold;
}

.menuOptions {
  flex: 0 0 150px;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.menuOptions div {
  /* position: relative; */
  flex: 1 0 auto;
  text-align: center;
  padding: 7px 0;
  border-left: solid 1px #808080;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.menuHeader img {
  width: 30px;
  /* height: 100%; */
}

.menuHeader .notificationsCount {
  position: absolute;
  /* display: block; */
  top: 3px;
  right: 25.5px;
  /* right: ; */
  padding: 4px 5px;
  font-size: 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.menuHero {
  height: 280px;
}

.categoriesWrapper {
  padding: 1vw;
}

.categories,
.foods {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  /* border: solid 1px green; */
}

.infos {
  /* border: solid 1px red; */
  flex: 0 0 47%;
}

.picture {
  height: 100px;
  width: 100px;
  border: solid 1px red;
  flex: 0 0 47%;
  margin-top: 65px;
}

.categoryName {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 25px;
  height: 40px;
  /* border: solid 1px red; */
}

.food {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.food.selected {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28%;
  z-index: 35;
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.foodWrapper.selected {
  padding: 0 2vw;
}

.food:nth-child(1) {
  border-top: solid 1px #808080;
  border-bottom: solid 1px #808080;
  padding: 10px 0;
}

.food:not(:first-child) {
  border-bottom: solid 1px #808080;
  padding: 10px 0;
}

.foodName,
.foodPrice {
  font-weight: bold;
  text-transform: capitalize;
}

.foodPrice::after {
  content: "FCFA";
  padding-left: 3px;
  /* border: solid 1px green; */
}

.foodDescription {
  max-width: 90%;
  color: #808080;
}

.foodName.selected {
  padding-left: 15px;
}
.foodPrice.selected {
  padding-right: 15px;
}
.foodDescription.selected {
  padding: 0 15px;
}

.detailswrapper {
  position: fixed;
  z-index: 34;
  top: 5%;
  overflow-y: hidden;
  width: 60%;
  height: 92.5%;
  background-color: rgba(255, 255, 255);

  /* border: solid 1px red; */
}

.commandDetails {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 12%;
  left: 50%;
  height: 80vh;
  width: 28%;
  background-color: #f7f7f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 999;
}

.commandDetails .customisation {
  flex: 0 0 80%;
  /* border: solid 1vw white; */
  padding: 2vw;
  overflow-y: auto;
}

.commandDetails .customisation .optionPrice {
  float: right;
  margin-right: 2vw;
  font-weight: bold;
}

.commandDetails .customisation .optionPrice::before {
  content: "+";
}
.commandDetails .addtocartwrapper {
  flex: 0 0 20%;
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  padding: 0 2vw;
  background-color: white;
}

.commandDetails .customisation textarea {
  width: 100%;
  margin-bottom: 15px;
}

.commandDetails .customisation .option {
  background-color: #f8f9fa;
  padding: 3px 0;
  border: solid 1px #808080;
  border-top: none;
}

.commandDetails .customisation .option:nth-child(3) {
  border-top: solid 1px #808080;
}
.commandDetails .customisation input[type="number"] {
  width: 100%;
}

#addToCart {
  width: 100%;
  padding: 15px 25px;
  background-color: #d89c05;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 10px 10px -5px;
}
.mobilecommandDetails {
  display: none;
  height: 100%;
  overflow-y: auto;
  padding-top: 30%;
}

.logoWrapper {
  align-self: stretch;
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoWrapper > .back {
  /* border: solid 1px red; */
  /* min-width: 150px; */
  display: none;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.mobilecommandDetails .content {
  width: 100%;
  height: 400px;
  background-color: #f39f86;
}
@media screen and (max-width: 1000px) {
  #menu,
  .menuHeader,
  .detailswrapper {
    width: 90%;
  }

  .food.selected {
    width: 40%;
  }

  .commandDetails {
    width: 43%;
    left: 50%;
  }
}

@media screen and (max-width: 800px) {
  .picture {
    /* background-color: blue; */
  }
  #menu {
    height: 100%;
  }
  .food.selected {
    width: 90vw;
    top: 10%;
    left: 5vw;
    /* border: solid 4px blue; */
  }
  /* make it ivisible */
  .mobilecommandDetails {
    display: block;
  }

  .detailswrapper {
    height: 95%;
  }

  .commandDetails {
    display: none;
  }
  .category {
    flex-wrap: wrap;
  }
  .menuHero {
    height: 200px;
  }

  .infos,
  .picture {
    flex: 1 0 100%;
  }
}
