/* menu header and container */
.menuBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  scroll-behavior: smooth;
  width: 60%;
  height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; /* position: relative; */
  /* z-index: 30; */
  /* border: solid 4px red; */
  /* position: relative; */
}

.menuHeader {
  position: fixed;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid 1px black; */
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 250ms ease-in-out;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 99;
}

.menuHeader.scrolled {
  background-color: white;
  opacity: 1;
}

.menuHeader .logoWrapper {
  align-self: stretch;
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuHeader .logoWrapper > .back {
  /* border: solid 1px red; */
  /* min-width: 150px; */
  /* display: none; */
  height: 100%;
  /* padding-top: 11px; */
  padding: 7px 0;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuHeader .logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.menuOptions {
  flex: 0 0 150px;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.menuOptions.hidden {
  visibility: hidden;
}

.menuOptions div {
  flex: 1 0 auto;
  text-align: center;
  padding: 7px 0;
  border-left: solid 1px #808080;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.menuHeader img {
  width: 30px;
}

.menuHeader .notificationsCount {
  position: absolute;
  top: 3px;
  right: 25.5px;
  padding: 4px 5px;
  font-size: 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

@media screen and (max-width: 1000px) {
  #menu,
  .menuHeader {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #menu {
    height: 100%;
    width: 100%;
  }

  .menuHeader {
    width: 100%;
  }
}
