.menuHero {
  height: 280px;
}

.categoriesWrapper {
  padding: 1vw;
}

.categories,
.foods {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.detailswrapper {
  /* position: fixed; */
  position: absolute;
  z-index: 34;
  top: 2.5%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* New layout */
  /* overflow-y: scroll; */
  /* New layout */

  width: 60%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.96);
  /* new layout */
  padding: 0vh 2vh;
  /* new layout */

  /* background-color: rgba(0, 0, 0, 0.1); */
  /* background-color: transparent; */
  /* border: solid 6px red; */

  /* border: solid 1px red; */
}

/* .commandDetails {
  position: absolute;
  top: 12.5%;
  right: 22%;
  height: 80vh;
  width: 28%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 99;
} */

/* new layout */
.food_selected {
  height: fit-content;
  width: 47%;
  padding: 2vh 2vw;
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.commandDetails {
  width: 50%;
  height: 80vh;
  background-color: #f7f7f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  float: right;
  display: flex;
  flex-direction: column;
  /* max-width: ; */
}
/* new layout */

.commandDetails .customisation {
  flex: 0 0 80%;
  padding: 2vw;
}

.commandDetails .customisation .optionPrice {
  float: right;
  margin-right: 2vw;
  font-weight: bold;
}

.commandDetails .customisation .optionPrice::before {
  content: "+";
}

.commandDetails .addtocartwrapper {
  flex: 0 0 20%;
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  padding: 0 2vw;
  background-color: white;
}

.commandDetails .customisation textarea {
  width: 100%;
  margin-bottom: 15px;
}

.commandDetails .customisation .option {
  background-color: #f8f9fa;
  padding: 3px 0;
  border: solid 1px #808080;
  border-top: none;
}

.commandDetails .customisation .option:nth-child(3) {
  border-top: solid 1px #808080;
}
.commandDetails .customisation input[type="number"] {
  width: 100%;
}

#addToCart {
  width: 100%;
  padding: 15px 25px;
  background-color: #d89c05;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  box-shadow: 0 10px 10px -5px #0000;
  color: black;
}

.addtocartwrapper .commandTotal {
  float: left;
  /* border: solid 1px green; */
}

.addtocartwrapper .commandTotal::after {
  content: " FCFA";
}

/* .mobilecommandDetails {
  display: none;
  height: 100%;
  overflow-y: auto;
  padding-top: 30%;
} */

/* .mobilecommandDetails .content {
  width: 100%;
  height: 400px;
  background-color: #f39f86;
} */

@media screen and (max-width: 1000px) {
  .detailswrapper {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .detailswrapper {
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
    overflow-y: scroll;
    padding-top: 9vh;
    padding-bottom: 5vh;
    /* right: 0; */
  }

  .food_selected,
  .commandDetails {
    width: 100%;
    margin: auto;
  }

  .menuHero {
    height: 200px;
  }
  .categoriesWrapper {
    padding: 2vw;
  }
}
